# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv
venv

# Node
node_modules/
.next/
npm-debug.log

# Data (Ignore Large Files > 100MB)
phase1/data/processed_zomato_data.csv
phase1/data/processed_zomato_data.pkl
phase1/data/processed_zomato_data.parquet

# Allow Lite Data for Deployment
!phase1/data/zomato_lite.pkl
